<% content_for :title do %>Credits<% end %>
<section id="about">
  <h3>It's all about Open Source</h3>
  <p>This website is built with Ruby on Rails and makes use of a lot of gems made by people who devote
  themselves to creating great open source software.</p>
  <p>Devise - https://github.com...</p>
  <p>Bookable - https://github.com/kunks001/bookable</p>
</section>