<% content_for :title do %>Privacy Statement<% end %>
<section id="about">
  <h3>Privacy Statement</h3>
  <p>Our websites provide online newsgroups, chat forums, and blogs for our users. Any information that you disclose in these forums becomes public information, which could be read, collected, or used by other users to send you unsolicited messages. You should exercise caution when deciding to disclose your personal information.  By posting in our newsgroups you explicitly consent to these uses of your information. We are not responsible for the personal information you choose to submit in these forums. </p>
</section>