<h1>Editing project</h1>

<%= render 'form' %>
<br />
<%= link_to 'Show', @project, :type => "button", :class => 'btn btn-primary' %>
<%= link_to 'Back', projects_path, :type => "button", :class => 'btn btn-primary' %>
