/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datetimepicker
 *= require_tree .
 */

/* Sticky footer styles
     -------------------------------------------------- */

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */

#wrap {

  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Top margin to compensate for navbar */
  /* Negative indent footer by it's height */
  margin: 85px auto -60px;
}

/* Set the fixed height of the footer here */

#push {
  height: 60px;
}

#footer {
  height: auto;
  background-color: #f5f5f5;
}

#footer p {

  margin-top: 15px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form-frame {
  position: relative;
  padding: 30px;
  max-width: 470px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.form-frame input[type=text], .form-frame input[type=email], .form-frame textarea {
  background: rgb(235, 241, 245);
  color: rgb(36, 39, 41);
}

.form-frame  input:focus, .form-frame  textarea:focus {
  outline: 0;
  background: #FFF;
}

.glyphicon {
  margin-bottom: 5px;
  margin-right: 10px;
}

/* Mini Avatar frame for navbar TODO: refactor this
     -------------------------------------------------- */
.mini-avatar-frame {
  -webkit-border-radius: 1px 0 0 1px;
  -moz-border-radius: 1px 0 0 1px;
  -ms-border-radius: 1px 0 0 1px;
  -o-border-radius: 1px 0 0 1px;
  border-radius: 10px 0 0 1px;
  border-color: white;
  height: 38px;
  width: 38px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 5px;
}

.mini-avatar {
  display: inline-block;
  max-height: 20px;
  background-color: transparent;
}



