<!-- Carousel
   ================================================== -->
<div id="myCarousel" class="carousel slide section_header">
  <div class="carousel-inner">
    <div class="item active">
      <img src="<%= image_path('mango_thumb.jpg') %>" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h2>Crowdsourced learning</h2>
          <p class="lead">Learning together. Do you want learn new technologies or share your expertise with the world?</p>
          <a class="btn btn-large btn-primary" href="#">Join the team</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_path('slide-02.jpg') %>
      <img src="<%= image_path('mango_thumb.jpg') %>" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h2>Crowdsourced project development.</h2>
          <p class="lead">Learning together. Do you want learn new technologies or share your expertise with the world?</p>
          <a class="btn btn-large btn-primary btn-block" href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="<%= image_path('mango_thumb.jpg') %>" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h2>Community projects.</h2>
          <p class="lead">Making a difference. It begins with a small group of individuals asking: "How can we help?"</p>
          <a class="btn btn-large btn-primary" href="#">Make a difference</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div><!-- /.carousel -->

<script>
    !function ($) {
        $(function(){
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>