<!-- starts footer -->
<footer id="footer">
  <div class="container">
    <div class="row sections">
      <div class="col-sm-4 recent_posts">
        <h3 class="footer_header">
          Recent Posts
        </h3>
        <div class="post">
          <a href="#">
            <img src="<%= image_path('anonymous.jpg') %>" class="img-circle" />
          </a>
          <div class="date">
            Wed, 12 Dec
          </div>
          <a href="blogpost.html" class="title">
            Randomised words which don't look embarrasing hidden.
          </a>
        </div>
        <div class="post">
          <a href="#">
            <img src="<%= image_path('anonymous.jpg') %>" class="img-circle" />
          </a>
          <div class="date">
            Mon, 12 Dec
          </div>
          <a href="#" class="title">
            Randomised words which don't look embarrasing hidden.
          </a>
        </div>
      </div>
      <div class="col-sm-4 testimonials">
        <h3 class="footer_header">
          Testimonials
        </h3>
        <div class="wrapper">
          <div class="quote">
            <span>“</span>
            I want to join a developers team, but none of my friends program.
            How could I get in touch with people who could potentially use my help?
            I found Agile Ventures and I'm learning new stuff daily.
            <span></span>
          </div>
          <div class="author">
            <img src="<%= image_path('anonymous.jpg') %>" />
            <div class="name">Team member</div>
            <div class="info">
              No Name
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 contact">
        <h3 class="footer_header">
          Contact us
        </h3>
        <form action="#" method="post">
          <input type="text" placeholder="Your name" />
          <input type="text" placeholder="Your email" />
          <textarea rows="3" placeholder="Message"></textarea>
          <input type="submit" value="Send" />
        </form>
      </div>
    </div>
    <div class="row credits">
      <div class="col-md-12">
        <div class="row social">
          <div class="col-md-12">
            <a href="#">
              <img src="<%= image_path('av-logo-inverse.png') %>">
            </a>

          </div>
        </div>
        <div class="row copyright">
          <div class="col-md-12">
            It's all about Open Source -  2013 Agile Ventures.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
