<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Projects', projects_path %></li>
<li><%= link_to 'Contributors', contributors_path %></li>
